[submodule "googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git

[submodule "external/libqrencode"]
	path = external/libqrencode
	url = https://github.com/fukuchi/libqrencode.git
[submodule "libqrencode"]
	path = libqrencode
	url = https://github.com/fukuchi/libqrencode.git
